.hrb-image-container {
    position: relative;
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hrb-image-container img {
    width: 100%;
    height: 70vh;
}
.blurred-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(8px);
    z-index: 1;
}

.hrb-title-text {
    font-family: 'Calistoga', serif;
    position: relative;
    z-index: 2;
    font-size: 170px;
    color: white;
    white-space: nowrap;
    font-weight: bold;
}

.hrb-container {
    align-items: center;
    max-width: 100%;
    padding-inline: 2%;
    background-color: #fff;
}
.hrb-container h1 {
    padding-top: 70px;
    color: #29772c;
    padding-inline: 15%;
    margin-top: 5%;
}
.hrb-container p {
    font-size: 20px;
    line-height: 1.5;
    padding-inline: 15%;
}

.hrb-container.last p:nth-of-type(2){
    padding-bottom: 70px;
}

.container {
    display: flex;
    align-items: center;
    border-radius: 0px;
    padding-inline: 15%;
    margin-bottom: 70px;
}
.image-container {
    flex: 1;
    margin-right: 16px;
}
.image-container img {
    width: 100%;
    border-radius: 8px;
}
.text-container {
    flex: 2;
}
.title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 8px;
}
.address, .phone, .directions, .email {
    margin-bottom: 8px;
    font-size: 20px;
}
.phone {
    color: #29772c;
    font-weight: bold;
}
.directions {
    color: #29772c;
    display: flex;
    align-items: center;
}
.directions svg {
    margin-right: 4px;
}

.btn {
    background-color: #29772c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s;
}
